{% extends "layout.html" %}

{% block title %}
Home page
{% endblock %}

{% block content %}
<h1 class="bg-pink-400 text-2xl ">This is my | Photo Page</h1>

<div class="grid grid-cols-4 gap-4 m-4">

    {% for packet in packets %}
    <div class="bg-green-300 p-3 rounded">
        <img class="rounded shadow-lg" src="{{packet.image.url}}" alt="">
        <h3 class="text-2xl font-bold">
            {{packet.name}}
        </h3>
        <a href="{% url 'details_packets' packet.id %}">
        <button type="button"
            class="inline-flex items-center w-[100%] justify-center px-4
            rounded-md text-white bg-orange-600 hover:bg-orange-700
            py-2 border border-transparent text-sm font-medium focus: outline-none focus: ring-2 focus:ring-offset-2
            focus:ring-orange-500">
            {{packet.type}} About this {{packet.id}}
            </button>
        </a>

    </div>
    {% endfor %}

</div>

{% endblock %}

